/*also consider kanit font*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


h3 {
    font-size: 20%;
}


h2 {
    font-size: 200%;
}

body {
    background-color: white;
    font-size: 125%;
    color: rgb(33, 20, 106);
    font-family: 'Open Sans';
    margin: 0;

}

img {
    /* height: 300px; */
    border-radius: 10%;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7.5%;
    background-color: white;
    color: rgb(173, 147, 246);
    padding-right: 1.5%;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

h4 {
    font-weight: 500;
}

a:link {
    color: rgb(53, 12, 89);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(187, 163, 255);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding-bottom: 3%;
    background-color: white;
}

.nav-list {
    margin: 0 2%;
    font-weight: 500;
    color: rgb(53, 12, 89);
}

/* FIX ANIMATION OVER RIDING NAVIGATION */
.welcometext {
    color: rgb(33, 20, 106);
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 500%;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    margin-bottom: 5%;
    margin-top: 5.5%;
    animation: fadeIn 2s;
}

.aboutme {
    font-size: 225%;
    font-weight: 400;
    color: rgb(102, 77, 185);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-container {
    display: flex;
}

.text-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    width: 40%;
}

.header-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0%;
}

.me-header {
    margin-top: 3%;
    text-align: left;
    font-family: "Open Sans";
    font-weight: 700;
    margin-bottom: 2%;
}

.description {
    display: inline-block;
    overflow-wrap: break-word;
    text-align: left;
    width: 90%;
}

.me {
    margin-left: 2%;
    margin-right: 6%;
    width: auto;
    height: 400px;
}

.note {
    margin-top: 3%;
    margin-bottom: 0.03%;
}

.icon {
    margin: 0 1.5%;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.highlight {
    color: rgb(33, 20, 106);
}

#welcome {
    background-color: rgb(187, 163, 255);
    background-image: linear-gradient(rgb(187, 163, 255), white);

    background-size: 100% auto;
}

#about {
    background-color: white;
    margin-left: 7.5%;
}


/* LOADER DOESNT WORK */

/* :root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
} */

/* .loader {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}
  
@keyframes preloader {
  100% { transform: scale(2); }
} */

@media screen and (max-width: 1200px) {
    .text-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .me {
        height: auto;
        width: 80%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10%;
    }

    #about {
        background-color: white;
        margin-left: 0%;
        height: max-content;
        padding: 5% 0;
    }

    .text-content {
        width: 80%;
    }

    .me-header {
        text-align: center;
        margin: auto;
    }

    .description {
        text-align: center;
        padding-bottom: 10%;
        width: auto;
    }

    .header-description-container {
        margin-top: 5%;
    }
}

@media screen and (max-width: 800px) {
    .welcometext {
        font-size: 350%;
    }

    .description {
        font-size: 90%;
    }

    .aboutme {
        font-size: 180%;
        margin-left: 2%;
        margin-right: 2%
    }
}